<div class="sections">
    <p class="selected">Detalles del evento ></p> <p>Entradas ></p> <p>Confimar datos ></p> <p>Pagar</p>
</div>

<div class="content">
  <div class="details">
    <div class="title">
      <h1>Latino Gang</h1>
    </div>

    <div class="date">
      <p><i class="pi pi-calendar"></i> 15 de marzo</p>
      <p><i class="pi pi-clock"></i> 10:00 PM</p>
    </div>

    <div class="description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.

      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.

      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        
      </p>
    </div>

    <div class="btnDetails">
      <button class="btn2">Reservar Entrada</button>
    </div>
  </div>

  <div class="imagen">
    <img class="imgEvents" src="../../../assets/img/chicago.jpg" alt="" />
  </div>
</div>

<div class="related">
    <div class="events">
    <div class="title">
      <h1>Recomendaciones</h1>
      <!-- <div class="line"></div> -->
    </div>

    <div class="eventsGrid">
      <div class="event">
        <div class="eventImg">
          <img
            class="imgEvent"
            src="../../../assets/img/jordan.jpg"
            alt=""
          />
          <div class="badge">
            <p>VIP</p>
          </div>
        </div>

        <div class="eventInfo">
          <h2>Latino Gang</h2>
          <div class="date">
            <p>
              <i class="pi pi-calendar"></i> 15 de marzo 
            </p>
            <p>
              <i class="pi pi-clock"></i> 10:00 PM
            </p>
          </div>
          <div class="btn">
            <button class="btn3" routerLink="/home/event">Reservar Entrada</button>
          </div>
        </div>
      </div>

       <div class="event">
        <div class="eventImg">
          <img
            class="imgEvent"
            src="../../../assets/img/sillas1.jpg"
            alt=""
          />
          <!-- <div class="badge">
            <p>VIP</p>
          </div> -->
        </div>

        <div class="eventInfo">
          <h2>Latino Gang</h2>
          <div class="date">
            <p>
              <i class="pi pi-calendar"></i> 15 de marzo 
            </p>
            <p>
              <i class="pi pi-clock"></i> 10:00 PM
            </p>
          </div>
          <div class="btn">
            <button class="btn3">Reserva ahora</button>
          </div>
        </div>
      </div>

        <div class="event">
        <div class="eventImg">
          <img
            class="imgEvent"
            src="../../../assets/img/sillas2.jpg"
            alt=""
          />
          <div class="badge">
            <p>VIP</p>
          </div>
        </div>

        <div class="eventInfo">
          <h2>Latino Gang</h2>
          <div class="date">
            <p>
              <i class="pi pi-calendar"></i> 15 de marzo 
            </p>
            <p>
              <i class="pi pi-clock"></i> 10:00 PM
            </p>
          </div>
          <div class="btn">
            <button class="btn3">Reservar</button>
          </div>
        </div>
      </div>

        <div class="event">
        <div class="eventImg">
          <img
            class="imgEvent"
            src="../../../assets/img/jordan.jpg"
            alt=""
          />
          <!-- <div class="badge">
            <p>VIP</p>
          </div> -->
        </div>

        <div class="eventInfo">
          <h2>Latino Gang</h2>
          <div class="date">
            <p>
              <i class="pi pi-calendar"></i> 15 de marzo 
            </p>
            <p>
              <i class="pi pi-clock"></i> 10:00 PM
            </p>
          </div>
          <div class="btn">
            <button class="btn3">Reserva ahora</button>
          </div>
        </div>
      </div>
    </div>
  </div>
