.sections{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.selected{
    color: #1522D1;
}

.content{
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-direction: row;
}

.details{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.title{
    display: flex;
    align-content: start;
    flex-direction: column;
    width: 95%;
    height: auto;
}

.title h1{
    color: #EFE7D4 ;
    font-size: 50px;
    font-weight: 900;
}

.date{
    color: #b3b3b3;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.date p, i{
    color: #b3b3b3;
    font-weight: 500;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputGroup{
    color: #FFFFFF;
    text-align: left;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 20px;
    width: 80%;
}

label{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

input{
    height: 3vh;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #2b2b2b;
    color: white;
}

select{
    height: 3.3vh;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #2b2b2b;
    color: white;
}

.btn2 {
  background: #1522D1;
  color: #EFE7D4 ;
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  height: 5vh;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn2:hover {
  // background-color: #2345a1;
  opacity: 0.9;
}

.summary{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summaryList{
    display: flex;
    width: 100%;
    gap: 20px;
}

.summaryInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 20px;
}

.cancelBtn{
    width: 50%;
    background-color: #d31d1d;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.imagen{
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgEvents{
    width: 80%;
}

@media(max-width: 768px){
    .content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .details{
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .title{
        align-items: center;
        text-align: center;
    }

    form{
        width: 90%;
        align-items: center;
    }

    .inputGroup{
        width: 100%;
    }

    .summaryList{
        flex-direction: column;
        align-items: center;
    }

    .summaryInfo{
        width: 80%;
        align-items: center;
        text-align: center;
    }

    .cancelBtn{
        width: 80%;
    }

    .imagen{
        width: 50%;
        height: auto;
        margin-top: 20px;
    }

    .imgEvents{
        width: 100%;
    }
}

@media(max-width: 425px){
    .sections{
        font-size: 13px;
    }
}

@media(max-width: 375px){
    .sections{
        font-size: 11px
    }
}

@media(max-width: 320px){
    .sections{
        font-size: 9px;
    }
}
