<div class="sections">
    <p>Detalles del evento ></p> <p  class="selected">Espacios ></p> <p>Consumo ></p> <p>Confirmar datos ></p> <p>Pagar</p>
</div>

<div class="content">
  <div class="details">
    <div class="title">
      <h1>Latino Gang</h1>
    </div>

    <div class="date">
      <p><i class="pi pi-calendar"></i> 15 de marzo</p>
      <p><i class="pi pi-clock"></i> 10:00 PM</p>
    </div>

    <div class="title">
        <h3>Selecciona tu espacio</h3>
    </div>

    <form action="">
        <div class="inputGroup">
            <label for="zone">Tipo de espacio</label>
            <select name="zone" id="zone">
                <option value="vip">VIP</option>
                <option value="general">General</option>
                <option value="preferencial">Preferencial</option>
            </select>
        </div>

        <div class="inputGroup">
            <label for="zone">Cantidad</label>
            <input type="text">
        </div>
   

        <div class="btnDetails">
        <button class="btn2">Agregar</button>
        </div>
     </form>

     <div class="summary">
        <div class="summaryTitle">
            <h3>Seleccion actual</h3>
        </div>

        <div class="summaryList">
            <div class="summaryInfo">
                <p>Tipo de espacio: <span>VIP</span></p>
                <p>Cantidad: <span>2</span></p>
                <p>Total: <span>$200.00</span></p>
                <button class="cancelBtn">Quitar</button>
            </div>

            <div class="summaryInfo">
                <p>Tipo de espacio: <span>VIP</span></p>
                <p>Cantidad: <span>2</span></p>
                <p>Total: <span>$200.00</span></p>
                <button class="cancelBtn">Quitar</button>
            </div>

                        <div class="summaryInfo">
                <p>Tipo de espacio: <span>VIP</span></p>
                <p>Cantidad: <span>2</span></p>
                <p>Total: <span>$200.00</span></p>
                <button class="cancelBtn">Quitar</button>
            </div>
        </div>
    </div>
    
        <div class="btnDetails">
            <button class="btn2">Continuar</button>
        </div>
  </div>
  

  <div class="imagen">
    <img class="imgEvents" src="../../../assets/img/chicago.jpg" alt="" />
  </div>
</div>

