<div class="content">
    <form [formGroup]="whatsappForm" (ngSubmit)="sendMessage()">
        <div class="info">
            <h1>Contáctanos</h1>
            <p>Envianos un mensaje y nos pondremos en contacto contigo lo antes posible.</p>
        </div>

        <div class="inputGroup2">
            <div class="inputGroup">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" formControlName="nombre">
            </div>

            <div class="inputGroup">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="apellido" formControlName="apellido">
            </div>
        </div>

        <div class="inputGroup">
            <label for="mensaje">Mensaje</label>
            <textarea type="text" id="mensaje" name="mensaje" formControlName="mensaje"></textarea>
        </div>

        <div class="btn">
            <button class="btnLogin" type="submit">Enviar</button>
        </div>
    </form>

    <div class="social">
        <div class="socialInfo red">
            <h1>Correo Electrónico</h1>
            <p>info&#64;miternerita.com</p>
        </div>

        <div class="socialInfo red">
            <h1>Redes Sociales</h1>
            <div class="icons">
                <a *ngIf="whatsapp" [href]="whatsapp" target="_blank" rel="noopener noreferrer">
                    <i class="pi pi-whatsapp" style="font-size: 2.5rem"></i>
                </a>

                <a *ngIf="instagram" [href]="instagram" target="_blank" rel="noopener noreferrer">
                    <i class="pi pi-instagram" style="font-size: 2.5rem"></i>
                </a>

                <a *ngIf="tiktok" [href]="tiktok" target="_blank" rel="noopener noreferrer">
                    <i class="pi pi-tiktok" style="font-size: 2.5rem"></i>
                </a>
            </div>
        </div>

        <div class="socialInfo mapa">
            <h1>Dirección</h1>
            <p>Av. Fuerzas Armadas, Maracaibo 4005, Zulia</p>
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.517450966169!2d-71.62825392435597!3d10.694513760698154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e899ed37da9f0d1%3A0xdfaad299e9c315e1!2sMi%20Ternerita%20Norte%20Bar%20%26%20Grill!5e0!3m2!1ses!2sve!4v1788971474392!5m2!1ses!2sve" 
            style="border: 0; width: 100%; height: 100%;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="strict-origin-when-cross-origin">
            </iframe>
        </div>


    </div>
</div>