<div class="content">
    <form>
        <div class="logo">
            <img class="loginImg" src="../../../assets/img/logo.png" alt="">
            <h1>Registro</h1>
        </div>
        
        <div class="group">
            <div class="inputGroup">
                <label for="email">Nombre</label>
                <input type="email" id="email" name="email">
            </div>
            
            <div class="inputGroup">
                <label for="email">Apellido</label>
                <input type="email" id="email" name="email">
            </div>
        </div>

        <div class="inputGroup">
            <label for="email">Correo Electrónico</label>
            <input type="email" id="email" name="email">
        </div>
        
        <div class="group">
            <div class="inputGroupType">
                <label for="email">Tipo</label>
                <select name="tipo" id="tipo">
                    <option value="estudiante">V</option>
                    <option value="estudiante">J</option>
                    <option value="profesor">E</option>
                </select>
            </div>
            
            <div class="inputGroupId">
                <label for="email">Cedula</label>
                <input type="email" class="cedula" id="email" name="email">
            </div>
        </div>

        <div class="inputGroup">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password">
        </div>

        <div class="inputGroup">
            <label for="password">Confirmar Contraseña</label>
            <input type="password" id="password" name="password">
        </div>

        <div class="btn">
            <button class="btnRegister" type="submit">Registrar</button>
        </div>

        <div class="links">
            <p>Ya tienes una cuenta? <a>Inicia Sesión</a></p>
        </div>
    </form>
</div>
