<div class="content">
  <div class="cards">
    <div class="card">
      <div class="cardHeader">
        <div class="cardTitle">
          <h4>Espacios Disponibles</h4>
        </div>

        <div class="cardIcon">
            <i class="pi pi-ticket"></i>
        </div>
      </div>

      <div class="cardContent">
        <h5>100</h5>
      </div>
    </div>

        <div class="card">
      <div class="cardHeader">
        <div class="cardTitle">
          <h4>Espacios Vendidos</h4>
        </div>

        <div class="cardIcon">
            <i class="pi pi-ticket"></i>
        </div>
      </div>

      <div class="cardContent">
        <h5>100</h5>
      </div>
    </div>

        <div class="card">
      <div class="cardHeader">
        <div class="cardTitle">
          <h4>Espacios Disponibles</h4>
        </div>

        <div class="cardIcon">
            <i class="pi pi-ticket"></i>
        </div>
      </div>

      <div class="cardContent">
        <h5>100</h5>
      </div>
    </div>

        <div class="card">
      <div class="cardHeader">
        <div class="cardTitle">
          <h4>Espacios Vendidos</h4>
        </div>

        <div class="cardIcon">
            <i class="pi pi-ticket"></i>
        </div>
      </div>

      <div class="cardContent">
        <h5>100</h5>
      </div>
    </div>
  </div>

  <div class="charts">
    <div class="left">
        <p-chart class="chart" type="bar" [data]="basicData" [options]="basicOptions" />
    </div>

    <div class="right">
       <p-chart class="chart" type="bar" [data]="basicData" [options]="basicOptions" />
    </div>
  </div>
</div>
