<div class="content">
  <div class="cards">
    <div class="card">
      <div class="cardTitle">
        <h4>Entradas Vendidas</h4>
        <i class="pi pi-ticket"></i>
      </div>

      <div class="cardContent">
        <h5>100</h5>
      </div>
    </div>

        <div class="card">
      <div class="cardTitle">
        <h4>Facturas realizadas</h4>
        <i class="pi pi-receipt"></i>
      </div>

      <div class="cardContent">
        <h5>50</h5>
      </div>
    </div>

        <div class="card">
      <div class="cardTitle">
        <h4>Usuarios Registrados</h4>
        <i class="pi pi-user"></i>
      </div>

      <div class="cardContent">
        <h5>100</h5>
      </div>
    </div>
        <div class="card">
      <div class="cardTitle">
        <h4>Usurios nuevos</h4>
        <i class="pi pi-receipt"></i>
      </div>

      <div class="cardContent">
        <h5>10</h5>
      </div>
    </div>
  </div>

  <div class="charts">
    <div class="left">
       <canvas id="barChart"></canvas>
    </div>

    <div class="right">
       <canvas id="barChart"></canvas>
    </div>
  </div>
</div>
