.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 5vh;
  gap: 50px;
}

.cards{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23.5%;
  height: 15vh;
  border-radius: 10px;
  background: #1c1c1c;
}

.cardHeader{
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardTitle{
  display: flex;
  align-items: center;
  width: 90%;
  color: white;
  gap: 20px;
}

.cardTitle h4{
  font-size: 18px;
}

.cardIcon{
  font-size: 20px;
  color: white;
  background-color: #1521d18c;
  border: 1px solid #1522D1;
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


.cardContent{
  width: 90%;
  font-size: 20px;
  margin-top: 10px;
}

.charts{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart{
  width: 100%;
  height: 100%;
}
