<div class="banner">
  <div class="bannerInfo">
    <div class="txt"></div>

    <div class="carousel">
      <div
        class="carousel-item"
        *ngFor="let event of testEvents; let i = index"
        [class.active]="i === currentSlideIndex"
        [style.backgroundImage]="'url(' + event.imagen + ')'"
      >
        <div class="carousel-content" *ngIf="i === currentSlideIndex">
          <h2>Latino Gang</h2>
            <div class="date2">
            <p>
              <i class="pi pi-calendar"></i> 15 de marzo
            </p>
            <p>
              <i class="pi pi-clock"></i> 10:00 PM
            </p>
          </div>
          <button class="btn2">Ver más</button>
        </div>
      </div>
      <button
        *ngIf="testEvents.length > 1"
        class="carousel-control prev"
        (click)="prevSlide()"
      >
        &#10094;
      </button>
      <button
        *ngIf="testEvents.length > 1"
        class="carousel-control next"
        (click)="nextSlide()"
      >
        &#10095;
      </button>
    </div>
  </div>
</div>

<div class="content" >
  <div class="events"  #eventsGrid>
    <div class="title">
      <h1>Eventos</h1>
      <!-- <div class="line"></div> -->
    </div>

    <div class="eventsGrid">
      <div class="event">
        <div class="eventImg">
          <img
            class="imgEvent"
            src="../../../assets/img/chicago.jpg"
            alt=""
          />
          <div class="badge">
            <p>VIP</p>
          </div>
        </div>

        <div class="eventInfo">
          <h2>Latino Gang</h2>
          <div class="date">
            <p>
              <i class="pi pi-calendar"></i> 15 de marzo
            </p>
            <p>
              <i class="pi pi-clock"></i> 10:00 PM
            </p>
          </div>
          <div class="btn">
            <button class="btn3" (click)="goToEvent()">Reservar</button>
          </div>
        </div>
      </div>

       <div class="event">
        <div class="eventImg">
          <img
            class="imgEvent"
            src="../../../assets/img/jordan.jpg"
            alt=""
          />
          <!-- <div class="badge">
            <p>VIP</p>
          </div> -->
        </div>

        <div class="eventInfo">
          <h2>Latino Gang</h2>
          <div class="date">
            <p>
              <i class="pi pi-calendar"></i> 15 de marzo
            </p>
            <p>
              <i class="pi pi-clock"></i> 10:00 PM
            </p>
          </div>
          <div class="btn">
            <button class="btn3">Reservar</button>
          </div>
        </div>
      </div>

        <div class="event">
        <div class="eventImg">
          <img
            class="imgEvent"
            src="../../../assets/img/sillas1.jpg"
            alt=""
          />
          <div class="badge">
            <p>VIP</p>
          </div>
        </div>

        <div class="eventInfo">
          <h2>Latino Gang</h2>
          <div class="date">
            <p>
              <i class="pi pi-calendar"></i> 15 de marzo
            </p>
            <p>
              <i class="pi pi-clock"></i> 10:00 PM
            </p>
          </div>
          <div class="btn">
            <button class="btn3">Reservar</button>
          </div>
        </div>
      </div>

        <div class="event">
        <div class="eventImg">
          <img
            class="imgEvent"
            src="../../../assets/img/sillas2.jpg"
            alt=""
          />
          <!-- <div class="badge">
            <p>VIP</p>
          </div> -->
        </div>

        <div class="eventInfo">
          <h2>Latino Gang</h2>
          <div class="date">
            <p>
              <i class="pi pi-calendar"></i> 15 de marzo
            </p>
            <p>
              <i class="pi pi-clock"></i> 10:00 PM
            </p>
          </div>
          <div class="btn">
            <button class="btn3">Reservar</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="add">
    <img class="addImg" src="../../../assets/img/evento.jpg" alt="" />
  </div> -->
</div>

<div class="zones">
  <div class="zonesTitle">
    <h1>Conoce nuestros espacios</h1>
  </div>

  <div class="zonesImages"  #zones>
    <div class="bento-grid">
      <div class="bento-item bento-vertical">
        <img src="../../../assets/img/zona3.jpg" alt="Imagen 1" />
          <div class="bento-overlay">Bar</div>
      </div>
      <div class="bento-item bento-top-right">
        <img src="../../../assets/img/zona1.jpg" alt="Imagen 2" />
          <div class="bento-overlay">Lobby</div>
      </div>
      <div class="bento-item bento-bottom-right">
        <img src="../../../assets/img/zona2.jpg" alt="Imagen 3" />
          <div class="bento-overlay">Barra</div>
      </div>
    </div>
  </div>

    <div class="imageGrid"  #zones2>
      <div class="imageItem">
        <img src="../../../assets/img/sillas2.jpg" alt="Imagen 1" />
        <div class="overlay">Lobby</div>
      </div>
      <div class="imageItem">
        <img src="../../../assets/img/sillas1.jpg" alt="Imagen 2" />
        <div class="overlay">Barra</div>
      </div>
      <div class="imageItem">
        <img src="../../../assets/img/jordan.jpg" alt="Imagen 3" />
        <div class="overlay">Bar</div>
      </div>
      <div class="imageItem">
        <img src="../../../assets/img/chicago.jpg" alt="Imagen 4" />
        <div class="overlay">Terraza</div>
      </div>
    </div>
</div>


