<div class="app-container">
    <nav>  
        <div class="items">
            <a routerLink="/">Inicio</a>
            <a (click)="goToEvents()">Eventos</a>
            <a routerLink="/home/contact">Contacto</a>
        </div>
        
        <div class="navLogo">
            <img src="../../../assets/img/logo.png" alt="">
            <h2>Mi Ternerita House</h2>
        </div>
        
        <div class="auth">

        <a routerLink="/admin/dashboard" *ngIf="authService.isAuthenticated() && user?.role === 'admin'">Dashboard</a>
            <a href="#" *ngIf="authService.isAuthenticated()">Mis Compras</a>
            <button *ngIf="!authService.isAuthenticated()" routerLink="/login" class="login">Login</button>

            <div  routerLink="/home/profile" class="user" *ngIf="authService.isAuthenticated()">
                <i class="pi pi-user"></i>
            </div>
        </div>
        
        <div class="info">
            <div class="logo">
                <img src="../../../assets/img/logo.png" alt="">
                <h2>Mi Ternerita House</h2>
            </div>

            <div class="menu">
                <button class="menu-toggle" (click)="showMobileMenu = !showMobileMenu">
                    <i class="pi pi-bars menuBtn"></i>
                </button>
            </div>

            <div class="mobile-menu" *ngIf="showMobileMenu" [class.open]="showMobileMenu">
                <a routerLink="/">Inicio</a>
                <a routerLink="/home/events">Eventos</a>
                <a routerLink="/home/contact">Contacto</a>
                <a routerLink="/admin/dashboard" *ngIf="authService.isAuthenticated() && user?.role === 'admin'">Dashboard</a>
                <a routerLink="/home/profile">Christopher Medina</a>
            </div>
        </div>
    </nav>
    
    

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div class="footerLogo">
            <img class="footerImg" src="../../../assets/img/logo.png" alt="">
        </div>

        <div class="footerInfo">
            <p>© 2024 Mi Ternerita. Todos los derechos reservados.</p>
            <p>Contacto: info&#64;miternerita.com</p>
        </div>

        <div class="socialMedia">
            <a *ngIf="whatsapp" [href]="whatsapp" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-whatsapp" style="font-size: 2.5rem"></i>
            </a>

            <a *ngIf="instagram" [href]="instagram" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-instagram" style="font-size: 2.5rem"></i>
            </a>

            <a *ngIf="tiktok" [href]="tiktok" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-tiktok" style="font-size: 2.5rem"></i>
            </a>
        </div>
    </footer>

    <div class="mobileFooter">
        <div class="footerLogo">
            <img class="footerImg" src="../../../assets/img/logo.png" alt="">
        </div>

        <div class="socialMedia">
            <a *ngIf="whatsapp" [href]="whatsapp" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-whatsapp" style="font-size: 2.5rem"></i>
            </a>

            <a *ngIf="instagram" [href]="instagram" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-instagram" style="font-size: 2.5rem"></i>
            </a>

            <a *ngIf="tiktok" [href]="tiktok" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-tiktok" style="font-size: 2.5rem"></i>
            </a>
        </div>

        <hr>

         <div class="footerInfo">
            <p>© 2024 Mi Ternerita. Todos los derechos reservados.</p>
            <p>Contacto: info&#64;miternerita.com</p>
        </div>
    </div>
</div>