.container{
  width: 100%;
  min-height: 83vh;
  background-image: url('../../../assets/img/halloween4.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sections{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-left: 5%;
}

.selected{
    color: #1522D1;
}

.content{
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
    margin-top: 25px;
    flex-direction: row;
}

.details{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.title{
    display: flex;
    align-content: start;
    flex-direction: column;
    width: 95%;
    height: auto;
}

.title h1{
    color: white;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0px;
}

.title h3{
    text-align: center;
    margin-top: 0px;
}

.list{
    width: 90%;
    height: auto;
}

.grid{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: 32.5%;
    height: 50vh;
    background-color: #2b2b2b;
    border-radius: 20px;
}

.card2{
    width: 20.5%;
    height: 50vh;
    background-color: #2b2b2b;
    border-radius: 20px;
}

.cardImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.imgCard{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
}

.cardInfo p{
    margin-top: 10px;
    max-width: 90%;
}

.cardInfo h3{
    margin-bottom: 0px;
}

.cardInfo h4{
    margin-top: 0px;
}

.cardBtn{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 24px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 50%;
  height: 3.5vh;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn1:hover {
  opacity: 0.9;
}

.btnDetails{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn2 {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  width: 10%;
  height: 3.5vh;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn2:hover {
  // background-color: #2345a1;
  opacity: 0.9;
}


.imagen{
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgEvents{
    width: 80%;
}

@media(max-width:1024px){
    .card{
        width: 47%;
    }
}

@media(max-width: 768px){
    .content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .details{
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .title{
        align-items: center;
        text-align: center;
    }

    .grid{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 100%;
        height: 60vh;
    }

    .imgCard{
        width: 20%;
    }

    .imagen{
        width: 50%;
        height: auto;
        margin-top: 20px;
    }

    .imgEvents{
        width: 100%;
    }
}

@media(max-width: 425px){
    .sections{
        font-size: 13px;
    }
}

@media(max-width: 375px){
    .sections{
        font-size: 11px
    }
}

@media(max-width: 320px){
    .sections{
        font-size: 9px;
    }
}
