/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


p, h1, h2, h3, h4, h5, h6, span, a, li, label, button, small {
   font-family: "Montserrat" !important;
}


html, body{
    height: 100%;
    margin: 0;
    background-color: #0D0D0D;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

p, h1, h2, h3, h4, h5, h6, span, a, li {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}


.p-tabpanels{
    background-color: transparent !important;
}

.p-tablist-tab-list{
    background-color: transparent !important;
    color: white;
}

.p-tab{
    background-color: transparent !important;
    color: white !important ;
}

.p-tablist-active-bar{
    background-color: #1522D1 !important;
    color: #1522D1 !important;
}

@media(max-width: 425px){
    .sections{
        font-size: 13px;
    }
}

@media(max-width: 375px){
    .sections{
        font-size: 11px
    }
}

@media(max-width: 320px){
    .sections{
        font-size: 9px;
    }
}