<div class="sections">
    <p>Detalles del evento ></p> <p>Entradas ></p> <p  class="selected">Confimar datos ></p> <p>Pagar</p>
</div>

<div class="content">
    <div class="details">
        <div class="title">
        <h1>Latino Gang</h1>
        </div>

        <div class="date">
        <p><i class="pi pi-calendar"></i> 15 de marzo</p>
        <p><i class="pi pi-clock"></i> 10:00 PM</p>
        </div>

        <div class="title">
            <h3>Información personal</h3>
        </div>

        <form>
            <div class="name">
                <div class="inputGroup">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" />
                </div>

                <div class="inputGroup">
                    <label for="name">Apellido</label>
                    <input type="text" id="name" name="name" />
                </div>
            </div>

           <!-- <div class="group">
                <div class="inputGroupType">
                    <label for="email">Tipo</label>
                    <select name="tipo" id="tipo">
                        <option value="estudiante">V</option>
                        <option value="estudiante">J</option>
                        <option value="profesor">E</option>
                    </select>
                </div>
                
                <div class="inputGroupId">
                    <label for="email">Cedula</label>
                    <input type="email" class="cedula" id="email" name="email">
                </div>
            </div> -->

            <div class="inputGroup">
                <label for="email">Cédula</label>
                <input type="email" id="email" name="email" />
            </div>

            <div class="inputGroup">
                <label for="email">Teléfono</label>
                <input type="tel" id="telefono" name="telefono" />
            </div>
            
            <div class="inputGroup">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" />
            </div>

            <div class="btn">
                <button class="btn2">Continuar</button>
            </div>
        </form>
    </div>

    <div class="ticketDetails">
        <div class="eventImg">
            <img class="eventImage" src="../../../assets/img/chicago.jpg" alt="">
        </div>


        <div class="title">
            <h2>Detalles de compra</h2>
        </div>

        <div class="ticketInfo">
            <p>Tipo de entrada: <span>VIP</span></p>
            <p>Cantidad: <span>2</span></p>
            <p>Precio: <span>$100.00</span></p>
        </div>

        <div class="total">
            <h3>Total a pagar: <span>$200.00</span></h3>
        </div>
    </div>
</div>